.mainDiv {
  
  background-color: #ffffff;
  width: 75%;
  height: 75%;
  position:absolute;
	
}

body {
	background-color: #eeeeee;
}
.nav-bar {
	background-color:#373a3d;
	width: auto;
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	
}
.upload_db {
	background-color:#cccccc;
	width: auto;
	height: 75px;
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	line-height:75px;
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:12px;
	
}
