.mainDiv {
  
  background-color: #ffffff;
  width: 75%;
  height: auto;
  position:absolute;	
}


body {
	background-color: #eeeeee;
}

.content:hover {	
	opacity: 0.8;
}
.mediainfos{
	font-family:verdana, sans-serif; font-weight: normal;
	font-size:10px;
}
.ContentDescription{
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:11px;
}
.preview{
	width:106px;
}
.content{
	clear:left;
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:12px;
	color:#373a3d;
	background-color: #eeeeee;	
	height: 100px;
	opacity: 0.7;
	margin-bottom:1px;	
}
.content-red{
		
	background-color: #ff4444;	
}
.content .content-a {	
	margin-top:5px;
	margin-left:4px;
	width: auto;	
	height: auto;
	word-break:break-all;
	word-wrap:break-word;
	
}


.content-head {	
	clear:left;
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:12px;
	color:#B4B4B4;
	background-color:#373a3d;
	border-bottom: 1px solid #eeeeee;		
	height: 36px;
	margin-bottom:2px;
	
}
.content-head .content-head-a {	
	margin-top:10px;
	margin-left:4px;
	width: 70%;	
}


.content-iframe {
	width: 100%;
	height: 100%;
	
}
.nav-bar {
	background-color:#373a3d;
	width: auto;
	margin-left:10px;
	margin-top:50px;
	margin-right:10px;
	margin-bottom:10px;
	
}
.upload_db {
	background-color:#cccccc;
	width: auto;
	height: 75px;
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	text-align:center;
	line-height:75px;
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:12px;
	
}

td {
	padding:4px;
	
}

.cmenu{
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:12px;
	color:#373a3d;
	background-color: #eeeeee;		
	margin-bottom:2px;	
	position:absolute;	
	width:auto;
	height:auto;
	left:5000px;
	top:5000px;
	border: 1px solid #111111;
}
.menutr:hover{
	background-color: #eeeeee;	
	cursor: pointer;
}
.menutr{
	background-color: #cccccc;	
}

.tbl-content {
	background-color:#373a3d;
	width: auto;
	height: auto;
	margin-left:10px;
	margin-top:3px;
	margin-right:10px;
	margin-bottom:3px;
}

.search {
	float:right;
	margin-top:10px;	
    vertical-align: middle;
    height:auto;
	
}
.search-filter {
	margin-right:10px;
}
.search-input{
	font-family:verdana, sans-serif; font-weight: bold;
	font-size:12px;
	color:#999999;
	margin-top:-5px;
	margin-right:10px;
	width:auto;
	height:20px;
	border: 1px solid #eeeeee;	
	padding: 2px;
	
}
.refresh-btn{
	margin-top:-1px;
	margin-right:10px;
	width:18px;
	height:18px;
	content:url("../../img/refresh.png");
}
.refresh-btn:hover{
	content:url("../../img/refresh-over.png");
}
.search-cb{
	
	vertical-align: middle;
}
.settings {
	width:100%;
	background-color: #ffffff;	
	margin-top:10px;
	height:30px;
	margin-right: 30px;
	position:absolute;
	
}
.settings-profile{
	float:right;
	margin-right:2px;
	display:inline;
}
.p-margin{
	margin-right:10px;
}

.ccAlertBox{
	position:absolute;	
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;    
	width:auto;
	height:auto;
	background-color: #ffffff;	
	opacity: 0.8;
}
.alertTH{
	font-family:verdana, sans-serif; font-weight: bold;
	background-color: #ee0000;	
	color:#eeeeee;
	opacity: 0.8;
}
.alertTD{
	font-family:verdana, sans-serif; font-weight: normal;
	height:150px;
}
.settings-head{
	background-color:#373a3d;
	width: auto;
	margin-left:10px;
	margin-top:50px;
	margin-right:10px;
	margin-bottom:10px;
	padding:10px;
	color:#eeeeee;
}
.float-right{
	float:right;
}
a:link { color:#fff; }
a:visited { color:#fff; }

.settings-btn{
	font-family:verdana, sans-serif; font-weight: bold;
	background-color:#007a96;
    padding:12px 12px;
    color:#ffffff;
    font-size:12px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:32px;
    margin-bottom:12px;
    margin-right:-20px;
    line-height:1;
    text-decoration: none;
    
}
.settings-btn:hover {
	background-color:#0986a3;
}
.thumbnail {
	width:106px;
	height:auto;
	-o-object-fit: contain;
}
